.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.burger__menu {
    width: 16px;
    height: 16px;
    color: currentColor;
}

.header__menu-burger--open {
    display: none;
}

@media (width > 768px) {
    .burger {
        display: none;
    }
}

@media (width <=768px) {
    .burger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        width: 16px;
        height: 16px;
    }

    .burger__menu-burger,
    .burger--open .burger__menu-cross {
        display: block;
    }

    .burger__menu-cross,
    .burger--open .burger__menu-burger {
        display: none;
    }

    .header__menu {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        box-sizing: border-box;
        
    }

    .header__menu--open .header__select-wrapper {
        display: flex;
    }

    .header__logo-wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: start;
    }

    .header__select-wrapper {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        flex-shrink: 0;
    }


    .menu__list {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        gap: 20px;
        flex: 1;
        place-content: center;
        height: 100vh;
    }

}