.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--bg-color);
    padding-top: 30px;
    padding-bottom: 24px;
    transition: box-shadow var(--transition-time);
}

.header--fixed {
    box-shadow: -2px 0 20px 0 #3d4f3b;
}

@media (width <=992px) {
    .header {
        padding-top: 14px;
        padding-bottom: 12px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-wrapper {
    position: relative;
}

.header__logo-wrapper::before {
    content: "";
    position: absolute;
    right: 200%;
    bottom: 5% ;
    width: 484px;
    height: 478px;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    border-radius: 100%;
    filter: blur(200px);
    z-index: -1;
    pointer-events: none;
}


@media (width > 768px) {
    .header__logo-wrapper {
        /* 1260*1610 */
        margin-right: clamp(20px, -3.7rem + 6.29vw, 42px);
    }
}

@media (width <=768px) {
    .header__logo-wrapper {
        margin-right: 30px;
    }
}

@media (width <=1260px) {
    .logo__img {
        width: 40px;
        height: 49px;
    }

    .logo__name {
        font-size: 10px;
    }
}

@media (width <=992px) {
    .header__logo {
        gap: 3px;
    }

    .logo__img {
        width: 23px;
        height: 30px;
    }

    .logo__name {
        font-size: 6px;
        padding-top: 22px;
    }
}

/* Это форма */
.header__select-wrapper {
    /* 1260 * 1100 */
    margin-right: clamp(20px, -21.094rem + 32.5vw, 72px);
}

.header__select {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--bg-color);
}

@media (width <=768px) {
    .header__select-wrapper {
        display: none;
    }
}

.select__input {
    appearance: none;
    outline: none;
    background: var(--bg-color);
    color: var(--white-color);
    border: 0;
    margin: 0;
    font-size: 16px;
    padding: 8px calc(16px + 16px + 8px);
    -webkit-user-select: none;
    user-select: none;
    box-shadow: none;
    border-radius: 0.375em;
    transition: box-shadow 0.2s
}

@media (width <=992px) {
    .select__input {
        font-size: 10px;
    }
}

.select__input:focus {
    outline: none;
    box-shadow: inset 0 1px 0 #ffffff1a, 0 0 0 1px hsla(230, 13%, 9%, 0.02), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.025), 0 1px 3px -1px hsla(230, 13%, 9%, 0.2), 0 3.5px 6px hsla(230, 13%, 9%, 0.12), 0 0 0 2px #E49031, 0 0 0 0 hsl(230, 7%, 23%);
}

@media (any-hover: hover) {
    .select__input:focus {
        box-shadow: inset 0 1px 0 #ffffff1a,
            0 0 0 1px hsla(230, 13%, 9%, 0.02),
            0 0.3px 0.4px hsla(230, 13%, 9%, 0.025),
            0 1px 3px -1px hsla(230, 13%, 9%, 0.2),
            0 3.5px 6px hsla(230, 13%, 9%, 0.12),
            0 0 0 2px #E49031,
            0 0 0 0 hsl(230, 7%, 23%);
    }
}

.select__arrow,
.select__flag {
    display: inline-block;
    width: var(--select-icon-size);
    height: var(--select-icon-size);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.select__arrow {
    color: inherit;
    right: var(--select-icon-margin);
}

.select__flag {
    left: var(--select-icon-margin);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--select-icon-size);
}

.header__select:has(option[value="RU"]:checked) .select__flag {
    background-image: url("../../icons/svg-flags/RU-flag.svg");
}

.header__select:has(option[value="EN"]:checked) .select__flag {
    background-image: url("../../icons/svg-flags/EN-flag.svg");
}

.header__select:has(option[value="FR"]:checked) .select__flag {
    background-image: url("../../icons/svg-flags/FR-flag.svg");
}

/* ______________________________________ */
.header__menu {
    display: flex;
    /*1260 * 1610 */
    flex: 0 1 auto;
    min-width: 0;
    margin-right: clamp(20px, -37.225rem + 48.86vw, 191px);
}

@media (width <=768px) {
    .header__menu {
        position: fixed;
        top: 0;
        top: 0;
        left: -100vw;
        bottom: 0;
        min-width: 260px;
        padding-top: 10px;
        padding-left: 15px;
        background-color: var(--bg-color);
        box-shadow: -2px 0 20px 0 #3d4f3b;
        opacity: 0;
        visibility: hidden;
        transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
        z-index: 4;
    }

    .header__menu--open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__menu .menu__list {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 96px;
}

@media (width <=1450px) {
    .menu__list {
        gap: 60px;
    }
}

@media (width <=1260px) {
    .menu__list {
        gap: 30px;
    }
}

@media (width <=992px) {
    .menu__list {
        gap: 20px;
    }
}


.menu__link {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-color);
    transition: background var(--transition-time);
}

@media (width <=1260px) {
    .menu__link {
        font-size: 14px;
    }
}

@media (width <=992px) {
    .menu__link {
        font-size: 12px;
    }
}

.menu__link::after {
    content: "";
    background: url("../../icons/star-icon.svg");
    width: 21px;
    height: 21px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.menu__link-text {
    color: var(--white-color);
    position: relative;
    transition: color var(--transition-time);
}

@media (any-hover: hover) {
    .menu__link .menu__link-text:hover {
        color: transparent;
        background: var(--menu-gradient);
        background-clip: text;
    }

    .menu__link:hover::after {
        opacity: 1;
    }
}

.header__button {
    gap: 20px;
    display: flex;
    flex-shrink: 0;
    margin-left: 30px;
}


.button__form {
    position: relative;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    padding: 24px 36px;
    max-width: calc(113px - var(--border-bh));
    background: var(--bg-color);
    transition: box-shadow var(--transition-time);
}

@media (width <=1260px) {
    .button__form {
        padding: 19px 31px;
        font-size: 14px;
        border-radius: 15px;
    }
}

@media (width <=992px) {
    .button__form {
        padding: 12px 21px;
        font-size: 10px;
        border-radius: 10px;
    }

    .header__button {
        margin-left: 15px;
    }
}

@media (width <=768px) {
    .header__menu--open ~ .header__button {
        margin-left: auto;
    }
}

.button__form::before {
    content: "";
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    bottom: -1.5px;
    right: -1px;
    background: var(--linear-gb);
    border-radius: var(--border-bh);
    z-index: -1;
}

.button__score {
    font-weight: 700;
    font-size: 18px;
    position: relative;
    color: #000;
    padding: 24px 36px;
    transition: box-shadow var(--transition-time);
}

@media (any-hover: hover) {
    .button__form:hover {
        box-shadow: inset 0 0 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    }

    .button__score:hover {
        box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    }
}

@media (width <=1260px) {
    .button__score {
        padding: 19px 31px;
        font-size: 14px;
        border-radius: 15px;
    }
}

@media (width <=992px) {
    .button__score {
        padding: 12px 21px;
        font-size: 10px;
        border-radius: 10px;
    }
}