.contacts__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: clamp(40px, 1.013rem + 6.34vw, 138px);
}

.contacts__title {
    text-align: center;
    line-height: 117%;
    margin-bottom: clamp(40px, 1.833rem + 2.85vw, 84px);
}

.contacts__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px;
    margin-bottom: clamp(40px, 1.104rem + 5.95vw, 132px);
    width: 100%;
}

@media (width <=992px) {
    .contacts__article {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 75%;
    }
}

.contacts__article-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 0.215rem + 1.75vw, 37px);
}

@media (width <=992px) {
    .contacts__article-header {
        display: inline-flex;
        justify-content: center;
    }
}

.contacts__cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    gap: clamp(20px, 1.022rem + 0.97vw, 35px);
}

@media (width <=992px) {
    .contacts__cards {
        align-items: stretch;
        justify-content: center;
        text-align: center;
    }
}

.contacts__cards-logo-file {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: clamp(18px, 1.034rem + 0.39vw, 24px);
    width: clamp(70px, 3.389rem + 4.21vw, 135px);
    height: clamp(70px, 3.389rem + 4.21vw, 135px);
    background: linear-gradient(136.87deg, #16373a 8.16%, #0a1f24 31.4%, #0b1b23 47.14%, #122b31 87.5%);
    pointer-events: none;
}

.contacts__cards-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: clamp(18px, 1.034rem + 0.39vw, 24px);
    width: clamp(70px, 3.389rem + 4.21vw, 135px);
    height: clamp(70px, 3.389rem + 4.21vw, 135px);
    background: linear-gradient(321.99deg, #82c36d 2.26%, #25523e 92.51%);
    pointer-events: none;
}

.contacts__img-number {
    position: absolute;
    transform: translate(30%, -30%);
    top: 0;
    right: 0;
}

.contacts__img-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: clamp(16px, 0.909rem + 0.39vw, 22px);
    line-height: 159%;
    color: #000;
    border-radius: 50%;
    width: clamp(30px, 1.632rem + 1.04vw, 46px);
    height: clamp(30px, 1.632rem + 1.04vw, 46px);
    background: var(--white-color);
}

.contacts__cards-card,
.contacts__cards-dollar {
    color: #000;
}

.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
}

.border-inline {
    border: 1px dashed rgba(255, 255, 255, 0.55);
    width: clamp(179px, 4.506rem + 10.78vw, 279px);
    height: 0;
}

@media (width <=992px) {
    .arrow-right {
        display: none;
    }
}

.circle,
.arrow {
    color: var(--white-color);
}

.contacts__cards-title {
    font-weight: 400;
    font-size: clamp(18px, 0.867rem + 1.1vw, 35px);
    line-height: 130%;
    color: var(--white-color);
    padding-right: 30%;
}

.contacts__cards-text {
    font-weight: 400;
    font-size: clamp(12px, 0.598rem + 0.65vw, 22px);
    line-height: 159%;
    color: #fff;
    padding-right: 30%;
}

@media (width <=992px) {

    .contacts__cards-title,
    .contacts__cards-text {
        padding-right: 0;
    }

}

.three {
    opacity: 0;
}

.contacts__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    gap: clamp(10px, 0.458rem + 0.71vw, 21px);
}

@media (width <=1260px) {
    .contacts__form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (width <=768px) {
    .contacts__form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

fieldset {
    border: none;
    padding: 0;
}

.contacts__form fieldset label {
    display: none;
}

.contacts__form-label {
    color: var(--white-color);
    font-size: clamp(14px, 0.754rem + 0.52vw, 22px);
    border: clamp(2px, 0.095rem + 0.13vw, 4px) solid rgba(255, 255, 255, 0.29);
    border-radius: clamp(14px, 0.769rem + 0.45vw, 21px);
    width: 100%;
    outline: none;
    background: #202020;
    width: clamp(276px, 5.318rem + 15.15vw, 376px);
    height: clamp(3.125rem, 2.275rem + 3.62vw, 6.625rem);
    padding: 10px 20px 10px 52px;
    margin: 0;
}

input:focus-visible {
    outline: 2px solid #ce6a33;
    outline-offset: 1px;
}