.bonus__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.bonus__title {
    position: relative;
    line-height: 122%;
    z-index: 1;
    opacity: 1;
    margin-bottom: clamp(20px, 1.053rem + 0.84vw, 33px);
}


.bonus__text-background {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%,-65%);
    font-weight: 700;
    font-size: clamp(80px, 1.626rem + 9.06vw, 200px);
    line-height: 117%;
    text-align: center;
    background: var(--liner-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    z-index: 0;
    opacity: .8;
}


.bonus__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 122%;
    z-index: 1;
    opacity: 1;
    margin-bottom: clamp(20px, 1.053rem + 0.84vw, 33px);
}

.bonus__text {
    font-weight: 400;
    font-size: clamp(16px, 0.863rem + 0.58vw, 25px);
    line-height: 158%;
    text-align: center;
    color: var(--white-color);
    margin-bottom: clamp(30px, 1.268rem + 2.59vw, 70px);
}

.bonus__button {
    display: flex;
    gap: clamp(10px, 0.473rem + 0.65vw, 20px);
}

.bonus__button-bonus {
    padding: clamp(13px, 0.464rem + 1.49vw, 36px) clamp(28px, 0.491rem + 5.37vw, 111px);
}

.bonus__open {
    font-weight: 400;
    font-size: clamp(12px, 0.598rem + 0.65vw, 22px);
    line-height: 159%;
    color: var(--white-color);
    padding: clamp(13px, 0.464rem + 1.49vw, 36px) clamp(20px, 0.294rem + 4.08vw, 83px);
    border: 4px solid #CE6933;
    border-radius: var(--border-bh);
    transition: box-shadow var(--transition-time);
}

.bonus__open:hover {
    box-shadow: inset 0 0 0 0, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
}

.bonus__button {
    margin-bottom: clamp(80px, 2.649rem + 10.03vw, 235px);
}

.bonus__img {
    position: relative;
    display: block;      
    width: 100%; 
}

.bonus__img-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(85%,-100%);
    pointer-events: none;
}

.bonus__img-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-70%,-101%);
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

.bonus__img-gift {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%,-130%);
    width: 30%;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

.bonus__button-bonus::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-140%,-100%);
    width: 110%;
    height: 220%;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    border-radius: 100%;
    filter: blur(130px);
    pointer-events: none;
    z-index: -1;
    opacity: .7;
}

.bonus__title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(160%,30%);
    width: 80%;
    height: 100%;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    border-radius: 100%;
    filter: blur(150px);
    pointer-events: none;
    z-index: -1;
}