.investment {
    margin-bottom: clamp(80px, 3.18rem + 7.77vw, 200px);
}

.investment__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.investment__title {
    align-items: center;
    margin-bottom: 28px;
}

.investment__text {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    color: var(--white-color);
    margin-bottom: clamp(40px, 1.893rem + 2.59vw, 80px);
}

.investment__carts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    gap: clamp(50px, 1.517rem + 6.86vw, 156px);
}

.investment__carts article {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto clamp(100px, 5.355rem + 3.82vw, 159px) auto;
    place-content: start start;
    width: clamp(280px, 15.983rem + 6.47vw, 380px);
    margin-bottom: 20px;
}

.investment__carts-header {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: clamp(14px, 0.769rem + 0.45vw, 21px);
    line-height: 130%;
    color: var(--white-color);
    margin-bottom: 20px;
}

.investment__carts-text {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    font-weight: 500;
    font-size: clamp(22px, 1.178rem + 0.84vw, 35px);
    line-height: 130%;
    color: var(--white-color);
    margin-bottom: 29px;
}

.investment__carts-footer {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    font-weight: 400;
    font-size: clamp(15px, 0.831rem + 0.45vw, 22px);
    line-height: 159%;
    color: var(--white-color);
}

.investment__carts-number {
    position: absolute;
    bottom: 0;
    right: -15%;
    transform: translateY(60%);
    font-weight: 700;
    font-size: clamp(150px, 7.1rem + 9.71vw, 300px);
    line-height: 117%;
    background: var(--liner-green);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    pointer-events: none;
    opacity: .5;
}